#container {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin: 25vh 30vw auto;
    text-align: center;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 3rem;
}